<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<head th:replace="fragments/layout.html :: html_head"/>
<body>	
		<form action ="#" th:action="@{/login}" method="post">
		<div class="sidenav">
         <div class="login-main-text">
            <p>Welcome Back!</p>
            <p>Recycle and get Rewards!!</p>
         </div>
      </div>
      <div class="main">
         <div class="col-md-6 col-sm-12">
            <div class="login-form">
               <form>
                  <div class="form-group">
                     <p>LOGIN TO YOUR ACCOUNT</p>
                     <label>User Name</label>
                     <input type="text" class="form-control" placeholder="User Name">
                  </div>
                  <div class="form-group">
                     <label>Password</label>
                     <input type="password" class="form-control" placeholder="Password">
                  </div>
                  <button type="submit" class="btn btn-green">Login</button>
                  <button type="submit" class="btn btn-green">Create a new account</button>
                  <div><button type="submit"class="btn btn-green" ><a th:href="@{/}">Back</a></button></div>
               </form>
            </div>
         </div>
      </div>
	</form>
	
</body>

</html>