<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout.html :: html_head"/>
<body>
	<div th:replace="fragments/layout.html :: menu"/>
	<div th:replace="fragments/layout.html :: header"/>
	
	<h1>We are all over the islands! Find us! Choose the right Us !</h1>
		<form action ="#" th:action="@{/locate}" method="post">
		
	
	<p>
	
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d37135.03959452769!2d103.78402903944317!3d1.2867862790365607!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da19271549abaf%3A0xa97b0a2e5ad56d23!2sENEW%20electronic%20recycling!5e0!3m2!1sen!2ssg!4v1659524956861!5m2!1sen!2ssg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	</p>
	</form>
	
</body>

</html>